<div class="mainContainer">
	<div id="sidebarContainer"></div>

	<main class="note">
		{{#if activeNote}}
		<div class="note__breadcrumb">
			<span class="note__breadcrumbItem">Библиотека</span>
			<span class="note__breadcrumbSeparator">/</span>
			<span class="note__breadcrumbItem note__breadcrumbItem--current">{{activeNote.title}}</span>
		</div>

		<article class="note__content">
			<h1 class="note__title">{{activeNote.title}}</h1>
			<div class="note__body">{{activeNote.text}}</div>
		</article>
		{{else}}
		<div class="note__emptyState">
			<p>Выберите заметку из списка</p>
		</div>
		{{/if}}
	</main>
</div>
