.noteItemTitle {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mainContent {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 20px 0px;
	overflow-y: auto;
	background-color: var(--background);

	-webkit-mask-image: linear-gradient(
		to bottom,
		black 0%,
		black calc(100% - 80px),
		transparent 100%
	);
	mask-image: linear-gradient(
		to bottom,
		black 0%,
		black calc(100% - 80px),
		transparent 100%
	);
}

.noteContent,
.notePath {
	width: 100%;
	max-width: 740px;
}

.notePath {
	display: flex;
	gap: 8px;
	margin-bottom: 16px;
	font-size: var(--size-label);
	color: var(--faint-b);
}

.pathItem.currentItem {
	color: var(--text);
	font-weight: 600;
}

.noteHeader {
	margin-bottom: 30px;
}

.noteTitle {
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 16px;
	width: 100%;
	text-align: left;
}

.noteBody {
	width: 100%;
	line-height: 1.6;
	text-align: left;
	white-space: pre-wrap;
}
