<div class="signinPage">
	<header class="pageHeader">{{> components/partials/layout/logo }}</header>

	<main class="form">
		<h1 class="form__title">Войдите в свой аккаунт</h1>

		<form id="signinForm" class="form__auth">
			<div class="form__fields">
				{{> components/partials/forms/input
				    name="username"
					label="Имя пользователя"
					type="text"
					value=formData.username
					placeholder="Ваш логин"
					witherror="true"
				}}

				{{> components/partials/forms/input
				    name="password"
					label="Пароль"
					type="password"
					value=formData.password
					placeholder="Ваш пароль"
					autocomplete="current-password"
					witherror="true"
				}}

				<div class="form__error" data-error-container style="visibility: hidden">
					<span class="form__errorMessage" role="alert" data-error-text></span>
				</div>
			</div>

			<div class="form__buttons">
				{{> components/partials/forms/button type="submit" text="Войти" variant="primary"
				className="btn--submit" }}
				<span class="form__authLink">Нет аккаунта? <a href="/signup"> Создать</a><span/>
			</div>
		</form>
	</main>
</div>
