.profile-avatar {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__image {
		border-radius: 50%;
		width: 115px;
		height: 115px;
		border: 2px solid var(--faint-a);
		overflow: hidden;
	}
	&__actions {
		display: flex;
		flex-direction: row;
		gap: 16px;
	}
}
