.profile-form {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: end;
	&__controls {
		display: flex;
		gap: 16px;
		align-items: center;
		width: 100%;
		.form__input {
			width: 100%;
		}
	}
}
