<div class="signupPage">
	<header class="pageHeader">{{> components/partials/layout/logo }}</header>

	<main class="form">
		<h1 class="form__title">Регистрация</h1>

		<form id="signupForm" class="form__auth" novalidate>
			<div class="form__fields">
				{{> components/partials/forms/input
				    name="username"
					label="Имя пользователя"
					type="text"
					value=formData.username
					placeholder="Ваш логин"
					minlength=4
					maxlength=60
					witherror="true"
				}}
				
				{{> components/partials/forms/input
					name="password"
					label="Пароль"
					type="password"
					value=formData.password
					placeholder="Ваш пароль"
					autocomplete="off"
					minlength=4
					maxlength=60
					witherror="true"
                    withrequirements="true"
				}}
				
				{{> components/partials/forms/input
				    name="passwordConfirm"
					label="Подтвердить пароль"
					type="password"
					value=formData.passwordConfirm
					placeholder="Ваш пароль"
					autocomplete="off"
					minlength=4
					maxlength=60
					witherror="true"
                    withrequirements="true"
				}}

				<div class="form__error" data-error-container style="visibility: hidden">
					<span class="form__errorMessage" role="alert" data-error-text></span>
				</div>
			</div>

			<div class="form__buttons">
				{{> components/partials/forms/button type="submit" text="Создать аккаунт"
				variant="primary" className="btn--submit" }}
				<span class="form__authLink"> Есть аккаунт? <a href="/signin"> Войти</a></span>
			</div>
		</form>
	</main>
</div>
